.fab.fa-linkedin {
    color: #0077b5; /* LinkedIn color */
}

.fab.fa-youtube-square {
    color: #ff0000; /* YouTube color */
}

.fab.fa-instagram {
    color: #c13584; /* Instagram color */
}

.fab.fa-twitter {
    color: #1da1f2; /* Twitter color */
}

.fab.fa-file-pdf {
    color: grey
}

.fab.fa-exclamation-triangle {
    color: orange
}